<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buba.rural.pojo.Country">
	<sql id="numWhere">
		<foreach collection="array" open="(" close=")" item="code" separator=",">
			#{code}
		</foreach>
	</sql>
	<select id="showCountryTree" resultType="Country">
		select * from county where num in 
		<foreach collection="array" open="(" close=")" item="code" separator=",">
			#{code}
		</foreach>
	</select>
</mapper>