<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buba.rural.pojo.Country_message">
	<sql id="findCountry_Message_where">
				<if test="country.level==1">
					select id from county where father_num in(
						select num from county where father_num in(
							select num from county where father_num in (
								select num from county where father_num = (
									select num from county where num = #{country.num}))))
				</if>
				<if test="country.level==2">
					select id from county where father_num in(
						select num from county where father_num in (
							select num from county where father_num = (
								select num from county where num = #{country.num})))
				</if>
				<if test="country.level==3">
					select id from county where father_num in (
						select num from county where father_num = (
							select num from county where num = #{country.num}))
				</if>
				<if test="country.level==4">
					select id from county where father_num = (
						select num from county where num = #{country.num})
				</if>
				<if test="country.level==5">
					select id from county where num = #{country.num}
				</if>
	</sql>
	<select id="findCountry_Message_Count" resultType="int">
		SELECT count(*) from country_message c RIGHT JOIN (
			select MAX(operate_time),id from country_message where cid in (
				<include refid="findCountry_Message_where"/>
			) GROUP BY cid
		)mc on c.id = mc.id
	</select>
	<select id="findCountry_Message" resultType="Country_message" parameterType="java.util.HashMap">
		SELECT c.* from country_message c RIGHT JOIN (
			select MAX(operate_time),id from country_message where cid in (
				<include refid="findCountry_Message_where"/>
			) GROUP BY cid
		)mc on c.id = mc.id limit #{pageBean.startNum},#{pageBean.pagesize}
	</select>
	<select id="findCountry_Message_One" resultType="Country_message">
		select * from country_message where operate_time = (select MAX(operate_time) from country_message where cid= #{cid} )
	</select>
	<select id="findCountry_committee" resultType="Country_committee">
		select * from country_committee where operate_time in (select MAX(operate_time) from country_committee where cid=#{cid} and state = '1' GROUP BY zw)
	</select>
	<select id="findCountry_officer" resultType="Country_officer">
		select * from country_officer where operate_time = (select MAX(operate_time) from country_officer where cid=#{cid} and state = '1')
	</select>
	<select id="findCountry_building" resultType="Country_building">
		select * from country_building where operate_time = (select MAX(operate_time) from country_building where cid=#{cid})
	</select>
	<select id="findCountry_poverty" resultType="Country_poverty">
		select * from country_poverty where operate_time = (select MAX(operate_time) from country_poverty where cid=#{cid})
	</select>
	<select id="findCountry_communication" resultType="Country_communication">
		select * from country_communication where operate_time = (select MAX(operate_time) from country_communication where cid=#{cid})
	</select>
	<select id="findCountry_group_finance" resultType="Country_group_finance">
		select * from country_group_finance where operate_time in (select MAX(operate_time) from country_group_finance where cid = #{cid} GROUP BY type)
	</select>
	<select id="findCountry_flow" resultType="Country_flow">
		select * from country_flow where cid=#{cid}
	</select>
	<select id="findCounty_outgoing" resultType="County_outgoing">
		select * from county_outgoing where cid=#{cid}
	</select>
	<!-- 总户数 -->
	<select id="familyMessage" resultType="int">
		SELECT count(*) from family_message a LEFT JOIN person_message b on a.id=b.id where a.cid=#{cid}
	</select>
	<!-- 总人数 -->
	<select id="person_message" resultType="int">
		SELECT count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid}
	</select>
	<!-- 男性女性 -->
	<select id="person_messagesexs" resultType="int">
		SELECT count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND xb='1' 
	</select>
	<select id="person_messagesexa" resultType="int">
		SELECT count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND xb='0' 
	</select>
	<!-- 常住人口 -->
	<select id="family_assets" resultType="int">
		SELECT count(*) from family_assets a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND sfcz='0'
	</select>
	<!-- 流动人口 -->
	<select id="county_flow"  resultType="int">
		select count(*) from country_flow where cid=#{cid}
	</select>
	<!-- 少数民族 -->
	<select id="person_messagemz" resultType="int" >
		SELECT count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND mz!='汉'
	</select>
	<!-- 文化程度 -->
	<select id="person_messagewhcdw" resultType="int" >
		SELECT count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND whcd='0'
	</select>
	<select id="person_messagewhcdx" resultType="int" >
		SELECT count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND whcd='1'
	</select>
	<select id="person_messagewhcdc" resultType="int" >
		SELECT count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND whcd='2'
	</select>
	<select id="person_messagewhcdg" resultType="int" >
		SELECT count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND whcd='3'
	</select>
	<select id="person_messagewhcdd" resultType="int" >
		SELECT count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND whcd='4'
	</select>
	<!-- 劳动能力 -->
	<select id="person_messageldl" resultType="int">
		select count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND (year(curdate())- YEAR(a.csrq))&gt;'16' AND (year(curdate())- YEAR(a.csrq))&lt;'45'
	</select>
	<!-- 职业类型-->
	<select id="person_messagecyztw" resultType="int" >
		SELECT count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND zylx='1'
	</select>
	<select id="person_messagecyztwc" resultType="int" >
		SELECT count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND zylx='2'
	</select>
	<!-- 大学生毕业就业情况 -->
	<select id="person_messagebyjygq" resultType="int" >
		SELECT count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND cyzt='2' and whcd='4' AND gzdw='1'
	</select>
	<select id="person_messagebyjyxz" resultType="int" >
		SELECT count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND cyzt='2' and whcd='4'  AND gzdw='2'
	</select>
	<select id="person_messagebyjymq" resultType="int" >
		SELECT count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND cyzt='2'  and whcd='4' AND gzdw='3'
	</select>
	<select id="person_messagebyjyzz" resultType="int" >
		SELECT count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND cyzt='2' and whcd='4'  AND gzdw='4'
	</select>
	<select id="person_messagebyjywjy" resultType="int" >
		SELECT count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND cyzt='2' AND gzdw='0'
	</select>
	<!-- 在校情况 -->
	<select id="person_messagezxxs" resultType="int" >
		SELECT count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND cyzt='2'
	</select>
	<select id="person_messagezxxsx" resultType="int" >
		SELECT count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} and cyzt='2' AND whcd='1' 
	</select>
	<select id="person_messagezxxsc" resultType="int" >
		SELECT count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} and cyzt='2' AND whcd='2' 
	</select>
	<select id="person_messagezxxsg" resultType="int" >
		SELECT count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid}  and cyzt='2' AND whcd='3'
	</select>
	<select id="person_messagezxxsd" resultType="int" >
		SELECT count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} and cyzt='2' AND whcd='4' 
	</select>
	<!-- 党员总数 -->
	<select id="person_messagezzmm" resultType="int" >
		SELECT count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} and zzmm='1' 
	</select>
	<!-- 女党员 -->
	<select id="person_messagendy" resultType="int" >
		SELECT count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} and zzmm='1' AND xb='0'
	</select>
	<!-- 平均年龄 -->
	<select id="person_messagendynl" resultType="int" >
		select round(avg(year(curdate())- YEAR(a.csrq))) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} and zzmm='1'
	</select>
	<!-- 35岁以下党员 -->
	<select id="person_messagendyyx" resultType="int">
		select count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid='130729201227' and zzmm='1' and (year(curdate())- YEAR(a.csrq))&lt;'35'
	</select>
	<!-- 70岁以上党员 -->
	<select id="person_messagendyys" resultType="int">
		select count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} and zzmm='1' and (year(curdate())- YEAR(a.csrq))&gt;'70'
	</select>
	<!-- 老党员 -->
	<select id="person_messagendyldy" resultType="int">
		select  count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} and zzmm='1' AND year(curdate())- YEAR(a.rdsj) &gt; year(curdate())- YEAR('1949-10-1') 
	</select>
	<!-- 流出党员 -->
	<select id="person_messagenlcdy" resultType="int">
		SELECT count(*) from country_flow where cid=#{cid} AND state='0' AND zzmm='1'
	</select>
	<!-- 流入党员 -->
	<select id="person_messagenlrdy" resultType="int">
		SELECT count(*) from country_flow where cid=#{cid} AND state='0' AND zzmm='1'
	</select>
	<!-- 大专以上学历党员 -->
	<select id="person_messagedxsdy"  resultType="int">
		select  count(*) from person_message a LEFT JOIN family_message b on a.fid=b.id where b.cid=#{cid} AND whcd='4' AND zzmm='1'
	</select>
	<!-- 近三年发展党员数 -->
	<select id="person_messagejsndy"  resultType="int">
		select  count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} and zzmm='1' AND year(curdate())- YEAR(a.rdsj)&lt;3
	</select>
	<!-- 双女户 -->
	<select id="family_messagesnh" resultType="int">
		select count(*) from family_message b LEFT JOIN  person_message a on a.fid=b.id where b.cid=#{cid} AND yhzgx='30' AND xb='0'
	</select>
	<!-- 独生子女 -->
	<select id="family_messagedszn" resultType="int">
		select count(*) from family_message b LEFT JOIN  person_message a on a.fid=b.id where b.cid=#{cid} AND yhzgx='21'
	</select>
	<!-- 低保户 -->
	<select id="family_shebaodb" resultType="int">
		select count(*) from family_shebao a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND db!='0'
	</select>
	<!-- 五保户 -->
	<select id="family_shebaowb" resultType="int">
		select count(*) from family_shebao a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND wb!='0'
	</select>
	<!-- 残疾人 -->
	<select id="family_shebaocjr" resultType="int">
		select sum(cjr) from family_shebao a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid}
	</select>
	<!-- 特殊人群 -->
	<select id="family_shebaotsrq" resultType="int">
		select sum(tsrq) from family_shebao a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid}
	</select>
	<!-- 退伍军人 -->
	<select id="family_othertw" resultType="int">
		select count(*) from family_other a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND fbyzt='1'
	</select>
	<!-- 遗嘱补助 -->
	<select id="family_shebaoyz" resultType="int">
		select count(*) from family_shebao a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND tsrq!='0'
	</select>
	<!-- 孤儿人数 -->
	<select id="family_shebaoguer" resultType="int">
		select count(*) from family_shebao a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND guer!='0'
	</select>
	<!-- 临时救助人数 -->
	<select id="family_shebaolsjz" resultType="int">
		select count(*) from family_shebao a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND lsjz!='0'
	</select>
	<!-- 大病救助人数 -->
	<select id="family_shebaodbjz" resultType="int">
		select count(*) from family_shebao a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND dbjz!='0'
	</select>
	<!-- 合作医疗参保人数 -->
	<select id="family_shebaohzylbx" resultType="int">
		select count(*) from family_shebao a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND yiliaobx!='0'
	</select>
	<!-- 养老保险参保人数 -->
	<select id="family_shebaoylbx" resultType="int">
		select count(*) from family_shebao a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND yanglaobx!='0'
	</select>
	<!-- 60-69周岁人数 -->
	<select id="person_messagels" resultType="int">
		select count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} and (year(curdate())- YEAR(a.csrq))&gt;'60' AND (year(curdate())- YEAR(a.csrq)) &lt;'69'
	</select>
	<!-- 70-79周岁人数 -->
	<select id="person_messageqs" resultType="int">
		select count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} and (year(curdate())- YEAR(a.csrq))&gt;'70' AND (year(curdate())- YEAR(a.csrq)) &lt;'79'
	</select>
	<!-- 80-89周岁人数 -->
	<select id="person_messagebs" resultType="int">
		select count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} and (year(curdate())- YEAR(a.csrq))&gt;'80' AND (year(curdate())- YEAR(a.csrq)) &lt;'89'
	</select>
	<!-- 90-99周岁人数 -->
	<select id="person_messagejs" resultType="int">
		select count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} and (year(curdate())- YEAR(a.csrq))&gt;'90' AND (year(curdate())- YEAR(a.csrq)) &lt;'99'
	</select>
	<!-- 100周岁以上热人数 -->
	<select id="person_messageyb" resultType="int">
		select count(*) from person_message a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} and (year(curdate())- YEAR(a.csrq))&gt;'100'
	</select>
	<!-- 大型车辆数量 -->
	<select id="family_vehicledx" resultType="int">
		select count(*) from family_vehicle a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND car_type='0'
	</select>
	<!-- 私家小轿车 -->
	<select id="family_vehiclesj" resultType="int">
		select count(*) from family_vehicle a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND car_type='1'
	</select>
	<!-- 工程机械 -->
	<select id="family_vehiclegc" resultType="int">
		select count(*) from family_vehicle a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND car_type='2'
	</select>
	<!-- 农机具 -->
	<select id="family_vehiclenj" resultType="int">
		select count(*) from family_vehicle a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND car_type='3'
	</select>
	<!-- 其他机械 -->
	<select id="family_vehicleqt" resultType="int">
		select count(*) from family_vehicle a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND car_type='4'
	</select>
	<!-- 享受社会保障资金总额 -->
	<select id="family_shebaozje" resultType="int">
		select SUM(a.yiliaobx+a.yanglaobx+a.glbt+a.db+a.wb+a.dbjz+a.lsjz+a.zfbz+a.shjk+a.ww) from family_shebao a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid}
	</select>
	<!-- 土地与产业 -->
	<select id="Land_industry" resultType="Land_industry">
		select * from land_industry where operate_time = (select MAX(operate_time) from land_industry where cid=#{cid})
	</select>
	<!-- 计划生育 -->
	<select id="family_otherfz" resultType="int">
		select count(*) from family_other a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND jszk='0'
	</select>
	<select id="family_otherjl" resultType="int">
		select count(*) from family_other a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND jszk='1'
	</select>
	<select id="family_otherfzjl" resultType="int">
		select count(*) from family_other a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND jszk='2'
	</select>
	<!-- 自来水户数 -->
	<select id="family_messagezls"  resultType="int">
		select count(*) from family_message where cid=#{cid} and zls='0'
	</select>
	<select id="family_messagezhu"  resultType="double">
		select count(*) from family_message where cid=#{cid}
	</select>
	<!-- 农村自有房 -->
	<select id="family_assetsnc" resultType="int">
		select sum(a.nczypf+a.nczyyd) from family_assets a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid}
	</select>
	<!-- 城镇住房情况 -->
	<select id="family_assetscz" resultType="int">
		select sum(a.czpf+a.czyd) from family_assets a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND syqlx='1'
	</select>
	<select id="family_assetsczpm" resultType="int">
		select sum(a.czlh) from family_assets a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND syqlx='1'
	</select>
	<select id="family_assetsczzl" resultType="int">
		select count(*) from family_assets a LEFT JOIN  family_message b on a.fid=b.id where b.cid=#{cid} AND syqlx='3'
	</select>
	
	<!-- <resultMap type="java.util.HashMap" id="resultMap">
       <result column="country_message" property="country_message"/>
       <result column="country_officer" property="country_officer"/>
    </resultMap>
	<select id="findCountryAllMessage" resultType="java.util.HashMap" statementType="CALLABLE">
		{call pro_countryAllMessage( #{cid,jdbcType=VARCHAR,mode=IN} )}
	</select> -->
</mapper>