<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buba.rural.pojo.Country_flow">
	<sql id="where_name">
		<if test="country_flow.name!=null and country_flow.name!=''">
			and name like #{country_flow.name}
		</if>
		<if test="country_flow.id_card!=null and country_flow.id_card!=''">
			and id_card like #{country_flow.id_card}
		</if>
	</sql>
	<select id="findCountry_flow_count" resultType="int">
		select count(*) from country_flow where cid = #{country_flow.cid} <include refid="where_name"/>
	</select>
	<select id="findCountry_flow_list" resultType="Country_flow" parameterType="java.util.HashMap">
		select * from country_flow where cid = #{country_flow.cid} <include refid="where_name"/>
		order by name 
		limit #{pageBean.startNum},#{pageBean.pagesize}
	</select>
	<insert id="addFlowPerson">
		insert into country_flow values (uuid(),#{state},#{name},#{sex},#{age},#{id_card},#{hjd},#{hyzk},#{zzmm},#{whcd},#{totime},#{towhy},#{zzdjcshy},#{cid});
	</insert>
	<delete id="savedeleted">
		delete from country_flow where id in
		<foreach collection="array" item="item" open="(" separator="," close=")">
			#{item.id}
		</foreach>
	</delete>
	<update id="saveupdated">
		update country_flow set 
		state=
		<foreach item="item" collection="array" open="case ID" close="end" separator="">
			 when #{item.id} then #{item.state} 
		</foreach>
		,name=
		<foreach item="item" collection="array" open="case ID" close="end" separator="">
			 when #{item.id} then #{item.name} 
		</foreach>
		,sex=
		<foreach item="item" collection="array" open="case ID" close="end" separator="">
			 when #{item.id} then #{item.sex} 
		</foreach>
		,age=
		<foreach item="item" collection="array" open="case ID" close="end" separator="">
			 when #{item.id} then #{item.age} 
		</foreach>
		,id_card=
		<foreach item="item" collection="array" open="case ID" close="end" separator="">
			 when #{item.id} then #{item.id_card} 
		</foreach>
		,hjd=
		<foreach item="item" collection="array" open="case ID" close="end" separator="">
			 when #{item.id} then #{item.hjd} 
		</foreach>
		,hyzk=
		<foreach item="item" collection="array" open="case ID" close="end" separator="">
			 when #{item.id} then #{item.hyzk} 
		</foreach>
		,zzmm=
		<foreach item="item" collection="array" open="case ID" close="end" separator="">
			 when #{item.id} then #{item.zzmm} 
		</foreach>
		,whcd=
		<foreach item="item" collection="array" open="case ID" close="end" separator="">
			 when #{item.id} then #{item.whcd} 
		</foreach>
		,totime=
		<foreach item="item" collection="array" open="case ID" close="end" separator="">
			 when #{item.id} then #{item.totime} 
		</foreach>
		,towhy=
		<foreach item="item" collection="array" open="case ID" close="end" separator="">
			 when #{item.id} then #{item.towhy} 
		</foreach>
		,zzdjcshy=
		<foreach item="item" collection="array" open="case ID" close="end" separator="">
			 when #{item.id} then #{item.zzdjcshy} 
		</foreach>
		where id in
		<foreach item="item" collection="array" open="(" close=")" separator=",">
			 #{item.id}
		</foreach>
	</update>
	<select id="getOption" resultType="Dictionary">
		select * from dictionary where dictypecode = #{dictypecode}
	</select>
</mapper>