<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buba.rural.pojo.VersionRecord">

	<select id="getMaxVersion" resultType="java.lang.Integer">
		SELECT MAX(version) from version_record where initialid=#{initialid};
	</select>
	
	<select id="getOldContext" resultType="java.lang.String">
		SELECT context from version_record where initialid = #{initialid} 
		and version = (select MAX(version) from version_record WHERE initialid = #{initialid});
	</select>
	
	<insert id="insertVersionRecord">
		insert into version_record values 
		<foreach collection="list" separator="," item="version_record">
			(uuid(),#{version_record.context},#{version_record.version},#{version_record.type},#{version_record.scope},
			#{version_record.operator},#{version_record.operate_time},#{version_record.operate_describe},#{version_record.initialid})
		</foreach>
	</insert>
</mapper>